/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Custom text */
  --font-primary: "Noto Sans", "serif";
  --font-secondary: "Inter", "sans-serif";

  /* Custom color */
  --color-text-primary: #506690;

  /* Button */
  --color-btn-primary: #00ccff;
}
