@import "tailwindcss";

@theme {
  /* Custom text */
  /* --font-primary: "Noto Serif", "serif"; // Text main
  --font-secondary: "Roboto", "serif"; // Text second */

  /* Custom color */
  /* --color-primary: #33ccff; // Blue
  --color-secondary: #e74c3c; // Red
  --color-tertiary: #f1c40f; // Yellow */
}
