/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
@import "tailwindcss";

@theme {
  /* Custom text */
  --font-primary: "Noto Sans", "serif";
  --font-secondary: "Roboto", "serif";

  /* Custom color */
  --color-text-primary: #506690;

  /* Button */
  --color-btn-primary: #00ccff;
}
