/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Custom text */
  --font-primary: "Noto Sans", "serif";
  --font-secondary: "Inter", "sans-serif";

  /* Custom color */
  --color-text-primary: #506690;

  /* Button */
  --color-btn-primary: #00ccff;
  --color-bg-dark-mode: #121212;
  --color-bg-dark-mode-sc: #1e1e1e;

  /* Animation */
  --animate-spin3d: spin3d 2s linear infinite;
  --animate-spin180: spin180 2s linear infinite;
  --animate-earth-spin: earth-spin 3s linear infinite;

  @keyframes spin3d {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

  @keyframes spin180 {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
  }

  @keyframes earth-spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}
