/* Custom styles cho input của react-phone-input-2 */
.react-tel-input {
  width: 100%;
}

.react-tel-input .form-control {
  width: 100%;
  padding: 22px 0 22px 42px; /* Tương đương với py-2 pl-10 pr-4 */
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 6px; /* rounded-md */
  outline: none;
  background: rgb(236, 234, 237);
}

/* Khi focus vào input */
.react-tel-input .form-control:focus {
  border-color: #3b82f6; /* focus:border-blue-500 */
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* focus:ring-2 focus:ring-blue-500 */
}
